<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>746746000760-57e68s8nvgjbtttv1e82gcc4gujg2u1f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.746746000760-57e68s8nvgjbtttv1e82gcc4gujg2u1f</string>
	<key>API_KEY</key>
	<string>AIzaSyC1_a3KBL7fERQrFEJqaR2mXMqXkhbZRZw</string>
	<key>GCM_SENDER_ID</key>
	<string>746746000760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.martcity.autorun</string>
	<key>PROJECT_ID</key>
	<string>autorun-ac2db</string>
	<key>STORAGE_BUCKET</key>
	<string>autorun-ac2db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:746746000760:ios:0dba76ac4577797ff4c48d</string>
	<key>DATABASE_URL</key>
	<string>https://autorun-ac2db-default-rtdb.firebaseio.com</string>
</dict>
</plist>